@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800&family=Roboto:wght@400;500;700;900&display=swap');
*
{
    box-sizing: border-box;
    margin: 0;
}


body
{
    font-family: 'Roboto', sans-serif;
}
.container
{
    
}

.flexCenter
{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.heading1
{
    display: grid;
    grid-template-columns: auto auto;
    grid-template-rows: auto;
}
h1{
    vertical-align: bottom;
}

