@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800&family=Roboto:wght@400;500;700;900&display=swap');
*
{
    box-sizing: border-box;
    margin: 0;
}


body
{
    font-family: 'Roboto', sans-serif;
}
.container
{
    
}

.flexCenter
{
    display: flex;
    align-items: flex-start;
    justify-content: center;
    /* height: 100vh; */
    margin-bottom: 30px;
}

.heading1
{
    display: grid;
    grid-template-columns: auto auto;
    grid-template-rows: auto;
}
.img
{
    display:flex ;
    justify-content: center;
    align-items: center;
}
.headingTag
{
    display:flex ;
    justify-items: center;
    align-items: center;
}

ul{
    list-style-type: none;
    display: grid;
    grid-template-rows: repeat(1,2fr );
    grid-template-columns: repeat(3,1fr);
    gap: 5px;
}

li{
    border: 2px solid #ccc;
    width: 100%;
    height: 100%;
}

.CRUDicons
{
    display: flex;
    flex-direction: row-reverse;
    margin: 5px;
    gap: 5px;
}

.fa-solid
{
    color: black;
}

.buttonKaBaap
{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

button{
    padding: 6px 12px;
}
